*.Rproj.user
*.rproj.user
*.Rhistory
*.rhistory
.Rhistory
.rhistory
*.RData
*.rdata
*.Rproj
*.rproj
*.Rbuildignore
*.rbuildignore
.Rproj.user
.rproj.user
*~
*.gexf
*.html
*.dll
*.rds
*.o

*.Rhtml
*.rhtml
*.pdf
.Rproj.user
inst/doc
docs/

/.quarto/
